<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" type="text/css" href="styles.css">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

	<title></title>
<style>
body
{
	background-color:#00FFFF;
}
</style>	
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
</nav>
<form action="/" method="get">
    <div><center>Admin Section</center></div>
    <center><button type="submit" formaction="/add_moderator">ADD STAFF</button></center>
</form>

<form action="/viewmoddata" method="get">
    <center><button type="submit">VIEW STAFF</button></center>
</form>
<form action="/" method="get">
    <center><button type="submit" formaction="/" >LOGOUT</button></center>
</form>
</body>
</html>