<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- <link rel="stylesheet" type="text/css" href="table.css"> -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/table.css') }}">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <style>
    body
    {
      background-color:#00FFFF;
    }
    </style>
</head>
<body>
<div><strong>Result</strong></div>
<div>       </div>
<div><strong>Performance</strong></div>
<table>
  <tr>
    <th>IAT1</th>
    <th>IAT2</th>
    <th>IAT3</th>
    <th>Average</th>
    <th>External</th>
    <th>Total</th>
  </tr>
  <tr>
    <td>10</td>
    <td>10</td>
    <td>10</td>
    <td>3</td>
    <td>80</td>
    <td>100</td>
  </tr>
  <tr>
    <td>10</td>
    <td>10</td>
    <td>10</td>
    <td>3</td>
    <td>80</td>
    <td>100</td>
  </tr>
  <tr>
    <td>10</td>
    <td>10</td>
    <td>10</td>
    <td>3</td>
    <td>80</td>
    <td>100</td>
  </tr>
  <tr>
    <td>10</td>
    <td>10</td>
    <td>10</td>
    <td>3</td>
    <td>80</td>
    <td>100</td>
  </tr>
  <tr>
    <td>10</td>
    <td>10</td>
    <td>10</td>
    <td>3</td>
    <td>80</td>
    <td>100</td>
  </tr>
  <tr>
    <td>10</td>
    <td>10</td>
    <td>10</td>
    <td>3</td>
    <td>80</td>
    <td>100</td>
  </tr>
  <tr>
    <td>10</td>
    <td>10</td>
    <td>10</td>
    <td>3</td>
    <td>80</td>
    <td>100</td>
  </tr>
  <tr>
    <td>10</td>
    <td>10</td>
    <td>10</td>
    <td>3</td>
    <td>80</td>
    <td>100</td>
  </tr>
</table>

</body>

</html>