<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" type="text/css" href="styles.css">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

	<title></title>
<style>
body
{
	background-color:#00FFFF;
}
</style>	
</head>
<body>
    <div><center>SCORES</center></div>
	<div class="row">
    <div class="col-6">
    <form action="#" method="post">
  <div class="form-group">
    <label for="usnno">IAT1</label>
    <input type="text" class="form-control" id="usnno" name="usnno"  placeholder="Enter IAT1 Scores">
  </div>
  <div class="form-group">
    <label for="inputname">IAT2</label>
    <input type="text" class="form-control" id="inputname" name="inputname"  placeholder="Enter IAT2 Scores">
  </div>
  <div class="form-group">
    <label for="num">IAT3</label>
    <input type="text" class="form-control" id="num" name="num"  placeholder="Enter IAT3 Scores">
  </div>
  <button type="submit">SUBMIT</button>
  </form>
     </div>
	</div>
</body>
</html>